@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.default-content {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  padding: 32px;
}

@theme {
  --color-lightb: #e9edf4;
  --color-subcolor: #3c4858;
  --color-primary: rgb(105, 98, 252);
  --color-bg-primary: rgb(240, 240, 245);
  --font-plex-sans: "IBM Plex Sans", sans-serif;
  --font-plex-sans--font-optical-sizing: auto;
  --font-plex-sans--font-weight: <weight>;
  --font-plex-sans--font-style: normal;
  --font-plex-sans--font-variation-settings: "wdth" 100;
}

@layer components {
  .default-layout {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    position: relative;
  }
}
